<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${city}" method="post">
<table class="table table-striped">
    <tr>
        <th scope="col">Tên: </th>
        <td><input type="text" th:field="*{cityName}"></td>
        <td th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}">Name Error</td>
    </tr>
    <tr>
        <th scope="col">Quốc gia: </th>
        <td>
            <select th:field="*{country}">
                <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}" th:default="select"></option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="col">Diện tích:</th>
        <td><input type="text" th:field="*{area}"></td>
        <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}">Name Error</td>

    </tr>
    <tr>
        <th scope="col">Dân số:</th>
        <td><input type="text" th:field="*{population}"></td>
        <td th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Name Error</td>
    </tr>
    <tr>
        <th scope="col">GDP: </th>
        <td><input type="text" th:field="*{GDP}"></td>
        <td th:if="${#fields.hasErrors('GDP')}" th:errors="*{GDP}">Name Error</td>
    </tr>
    <tr>
        <th scope="col">Giới thiệu:</th>
        <td><textarea rows="10" cols="100" th:field="*{description}"></textarea></td>
        <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</td>
    </tr>
    <tr>
        <td><button type="submit">thêm thành phố</button></td>
        <td><button><a href="/">Quay lại</a></button></td>
    </tr>
</table>
</form>
</body>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>