<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<h1>Xóa thành phố</h1>
    bạn có chắc chắn muốn xóa thành phố: <p th:text="${city.cityName}"></p>
<form method="post" th:action="@{/delete}" th:object="${city}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <button type="submit">
        Xóa
    </button>
    <button>
        <a href="/">Quay lại</a>
    </button>
</form>
</body>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>